{% extends "base.html" %}

{% block content %}
<div class="span8 offset2 main_content">
    <div class="page-header">
        <h1>Create a new event</h1>
    </div>
    <h3>Post an event that is happening today in this block that anyone can come to</h3>
<form name="create_event" action="/desktop/block/create_event/" enctype="multipart/form-data" method="post">
    <span class="form_label">Event title:</span><input type="text" class="event_input" name="title" placeholder="Title of event" value="{{ title }}" /><br />
    <span class="form_label">Time of event:</span><input type="text" class="event_input" name="duration" placeholder="E.g. 5-6pm" value="{{ duration }}" /><br />
    <span class="form_label">Location:</span><input type="text" class="event_input" name="location" placeholder="E.g. intersection of 1st & Main Street" value="{{ location }}" /><br />
    <span class="form_label">Event picture:</span><input type="file" class="event_input" name="image" /><br />
    <span class="form_label">Description:</span><textarea rows="2" name="description" placeholder="Description">{{ description }}</textarea><br />
    {% if error %}<span class="error">Error: {{ error }}</span><br />{% endif %}
    <span class="form_label"></span><input class="btn btn-success" type="submit" value="Create Event" />
</form> 
</div>
{% endblock %}
